.app__wrapper{
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    color: rgb(30, 32, 34);
    border-radius: 8px;
    padding: 32px;
    max-width: 1280px;
    border: 1px solid #ccc; 
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); 
}

.wrapper{
    display: flex;
}

.input__item{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.main__label{
    margin: 0px 0px 16px;
    font-family: Inter, sans-serif;
    font-size: 0.875rem;
    line-height: 1.57;
    font-weight: 700;
}

.textInput{
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    padding: 16.5px 14px;
    border-radius: 5px;

}

@media (min-width: 320px){
    .wrapper{
        flex-direction: column;
    }
    input{
        padding: 16.5px 14px;
        border-radius: 5px;
        border-color:  grey;
    }

    form :nth-child(3) >:nth-child(2){
        padding-bottom: 50px;
    }
    
}

@media (min-width: 640px){

    .wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .input__item{
        flex-direction: column;
        width: 40%;
    }

    input{
        width: 100%;
    }

    form :nth-child(3){
        width: 100%;
    }

    form :nth-child(3) >:nth-child(2){
        padding-bottom: 50px;
    }

    form :nth-child(6){
        width: 100%;
    }

}
